body {
  padding: 20px;
  font-family: 'rubik', Helvetica, sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

footer a {
  color: white;
}
h1 {
  font-size: 50px;
  margin-left: 160px; 
}
p {
  display: block;
  font-size: 15px;
  margin-left: 120px;
  line-height: 12px;
}

.background-decoration {
  background-color: rgb(103, 34, 34);
  border-radius: 10px;
  padding: 10px 5px 5px;
  color: white;

}

.image-wrapper {
  position: absolute;
  right: 20px;
  top: -100px;
}

.image {
  margin-top: 45px;
  height: 250px;
  background-size: contain;
  border-radius: 20px;
  box-shadow: 5px 8px 15px black;
}

.body {
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}

.timestamp {
  color: yellow;
  line-height: 0.1;
  font-size: 15px;
  padding: 5px;
  line-height: 5px;
  font-size: 12px;
  margin-left: 100px;
}

.body-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 900px;
}
